.sombra-caja {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.oswald {
  font-family: 'Oswald', Verdana;
  text-transform: uppercase;
  font-weight: 700;
}
.intro {
  width: 100%;
  height: 650px;
  padding: 10px;
  margin-bottom: 30px;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.intro__imagen {
  width: calc(100% - 20px);
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  -o-object-fit: cover;
  object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
}
.intro__categoria {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Oswald', Verdana;
  text-transform: uppercase;
  font-weight: 700;
}
.intro__titulo {
  font-family: 'Oswald', Verdana;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48.6px;
  line-height: 63.18px;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #ffffff;
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 100%;
}
.intro__autor span {
  display: inline-block;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
}
.articulo--principal {
  max-width: 660px;
  margin: 0 auto;
}
.articulo--principal__intro {
  font-size: 25.2px;
  line-height: 32.76px;
  margin-bottom: 20px;
}
.articulo--principal h2 {
  margin: 40px 0;
  font-size: 50px;
  text-align: center;
  font-size: 48.6px;
  line-height: 63.18px;
}
.articulo--principal h3 {
  color: #8841da;
  margin-bottom: 15px;
}
.articulo--principal p {
  margin-bottom: 15px;
}
.contenedor--cajas {
  width: 90%;
  min-height: 630px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.caja {
  max-width: 350px;
  height: 600px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.caja__imagen {
  overflow: hidden;
}
.caja__imagen img {
  width: 100%;
}
.caja__contenido {
  padding: 25px;
  background-color: #ffffff;
}
.caja span {
  color: #8841da;
  font-family: 'Oswald', Verdana;
  text-transform: uppercase;
  font-weight: 700;
}
.caja h3,
.caja p {
  margin-bottom: 15px;
}
.caja a {
  text-decoration: none;
  color: #012179;
  font-family: 'Oswald', Verdana;
  text-transform: uppercase;
  font-weight: 700;
}
