$color-primario: rgb(51, 51, 51);
$color-secundario: #8841da;
$color-claro: #ffffff;
$color-variacion: #012179;
$fuente1: 'Lato', sans-serif;
$fuente2: 'Oswald', Verdana;
$fuente-base: 18px;

@mixin caja {
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(51,51,51,0.4);
  color: $color-primario;
  background-color: $color-claro;
}

@mixin titulo($fuente) {
  @if $fuente==$fuente1 {
    font-family: $fuente1;
  } @else {
    font-family: $fuente2;
    text-transform: uppercase;
    font-weight: 700;
  }
}

@function get_opacity($color,$porcentaje) {
  @return rgba($color,$porcentaje);
}

@each $header, $size in (h1: 30px, h2: 25px, h3: 20px) {
  #{$header} {
    font-size: $size;
    margin: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
}