@import "globales.scss";
@import "headers.scss";
@import "footers.scss";

:root {
  --scroll-bar: 13px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: calc(100vw - var(--scroll-bar));
  margin: 0;
  font-size: 18px;
  line-height: 23.4px;
  @include titulo($fuente1);
}
h1,
h2,
h3 {
  @include titulo($fuente2);
}
main {
  display: flex;
  width: 100%;
  min-height: 100vh;
}