@import "_globales";

.contenedor--home {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: $color-claro;
  color: $color-primario;
  
  overflow: hidden;
}

@import "_cajas";

.caja-rdr2 {
  grid-row: 1/2;
  grid-column: 4/5;
}

.banner--homepage {
  grid-row: 2/4;
  grid-column: 4/5;
  color: $color-claro;
  background-color: $color-secundario;
}

.caja-ff {
  grid-row: 4/5;
  grid-column: 2/3;
}

.caja-xbox {
  grid-row: 4/5;
  grid-column: 3/4;
}

.caja-fortnite {
  grid-row: 4/5;
  grid-column: 4/5;
}

.sidebar--listado {
  grid-row: 3/5;
  grid-column: 1/2;
  color: $color-primario;
  background-color: $color-claro;
}