.encabezado--con-filtros
  contenedor()
  align-items baseline
  h2
    font-size 40px
    oswald()
  .filtros
    width 250px
    height 75px
    padding 20px
    sombra-caja()
    span
      oswald()
      font-weight 400
    a img
      witdh 25px
      height 25px
      margin-left 20px

.contenido
  contenedor()