@import "components/_globales.scss";
@import "components/_headers.scss";
@import "components/_footers.scss";

:root {
  --scroll-bar: 13px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: calc(100vw - var(--scroll-bar));
  @include titulo($fuente1);
  @include font-size($fuente-base);
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;

  @include media(mobile-only) {
    flex-direction: column;
  }
}