<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/ejercicio-pug.css">
  </head>
  <body>
    <header>
      <h1>PlatziGames</h1>
      <!-- permite validar si el usuario esta logeado usando un If--><a>Hola Cristhian</a>
    </header>
    <!-- le indica a pug que este archivo se va a sumar a otro archivo -->
    <footer>
      <h1>PlatziGames</h1>
      <ul>
        <li>Acerca</li>
        <li>Noticias</li>
        <li>Contacto</li>
      </ul>
    </footer>
  </body>
</html>