footer.pie-de-pagina
  a(href="https://twitter.com/crismedina19") @crismeca19
script
  const getScrollBarWidth = () => innerWidth - document.documentElement.clientWidth
  document.documentElement.style.setProperty('--scroll-bar', getScrollBarWidth())