header.cabecera-de-pagina
  a.logo--header(href="home.html"): img(src="../images/icons/logo--header.svg")
  .nav--header: ul
    li: a(href="#") playstation
    li: a(href="#") xbox
    li: a(href="#") nintendo
    li: a(href="#") pc
    li: a(href="#") mobile
  .busqueda--header
    img(src="../images/icons/header-icon-buscar.svg")
    span search