include _mixin
block variables
  - var webName = 'PlatziGames'
  - var pageName = 'Home'

doctype
html
  head
    title= `${pageName} - ${webName}`
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
    block styles
      link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
      link(rel='stylesheet', href='../css/estilos.css')
  body
    include _header
    block contenido
    include _footer