.buscador {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/cover.jpg");
  background-size: cover;

  form {
    width: 75%;
  }

  &__input {
    width: 100%;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    @include font-size(25px);
  }
}