.ubicacion--perfil {
  width: 70%;
  height: 90px;
  margin: 10px auto;
  padding: 20px 0 0 30px;
  @include caja;
  img {
    display: block;
    float: left;
    padding-right: 10px;
    height: 40px;
  }
  h2 {
    font-weight: 600;
    @include titulo($fuente2);
    @include font-size(20px);
  }
  h3 {
    color: get_opacity($color-primario, 0.5);
    @include titulo($fuente2);
    @include font-size(12px);
  }
}